*{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.ctr {
    background: linear-gradient(to top, #000000, #000000, #333333, #333333);
    background-size: cover;
    background-size: 100% 4px;

    filter: blur(.5px);
    animation: scanlines infinite 5s linear;
}
     
@keyframes scanlines {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -10px;
    }
}

.screen {
    height: 100vh;
    width: 100vw;

    font-family: NESfont;
    font-size: 2vh;
    color: white;

    /* flex stuff */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nes{
    position: relative;
    height: 896px;
    width: 1016px;
    overflow: hidden;

    image-rendering: pixelated;
}

.background {
    animation: moveSpritesheet 1.5s steps(4) infinite;
}

.chapter {
    position: absolute;
    top: 10%;
    left: 7%;
    background-color: #9cfcf0;
    height: 75%;
    width: 75%;
    border-style: solid;
    border-width: 25px;
    border-color: #000000;
    z-index: 2;
    visibility: hidden;
    overflow: scroll;
}

#Mario  {
    position: absolute;
    top: 252px;
    left: 0px;
    height: 72px;
    width: 64px;
    overflow: hidden;
    image-rendering: pixelated;
    visibility: hidden;
    z-index: 1;
}

#POS1 {
    position: absolute;
    top: 252px;
    left: 188px;
    height: 72px;
    width: 64px;
}

#POS2 {
    position: absolute;
    top: 124px;
    left: 188px;
    height: 72px;
    width: 64px;
}

#POS3 {
    position: absolute;
    top: 252px;
    left: 443px;
    height: 72px;
    width: 64px;
}

#POS4 {
    position: absolute;
    top: 442px;
    left: 316px;
    height: 72px;
    width: 64px;
}

#POS5 {
    position: absolute;
    top: 504px;
    left: 636px;
    height: 72px;
    width: 64px;
}

.position1 {
    animation: changePosition0-1 1s linear forwards;
}

.position2{
    animation: changePosition1-2 0.5s linear forwards;
}

.position3{
    animation: changePosition2-3 2s linear forwards;
}

.position4{
    animation: changePosition3-4 2s linear forwards;
}

.position5{
    animation: changePosition4-5 2s linear forwards;
}

.sprite {
    animation: moveSpritesheet 0.5s steps(2) infinite;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}

@keyframes changePosition0-1 {
    10% {
        visibility: initial;
        transform: translateX(28px);
    }
    100% {
        visibility: initial;
        transform:translateX(188px);
    }
}

@keyframes changePosition1-2 {
    0% {
        visibility: initial;
        transform:translateX(188px);
    }
    100% {
        visibility: initial;
        transform:translate(188px ,-128px); 
    }
}

@keyframes changePosition2-3 {
    0% {
        visibility: initial;
        transform:translate(188px ,-128px); 
    }
    33% {
        visibility: initial;
        transform:translate(316px ,-128px); 
    }
    66% {
        visibility: initial;
        transform:translateX(316px); 
    }
    100% {
        visibility: initial;
        transform:translateX(443px);
    }
}

@keyframes changePosition3-4 {
    0% {
        visibility: initial;
        transform:translateX(443px);
    }
    16% {
        visibility: initial;
        transform:translateX(512px);
    }
    33% {
        visibility: initial;
        transform:translate(512px, -128px);
    }
    50% {
        visibility: hidden;
        transform:translate(636px, -128px);
    }
    66% {
        visibility: hidden;
        transform:translate(124px, 323px);
    }
    83%{
        visibility: initial;
        transform:translate(316px, 323px);
    }
    100% {
        visibility: initial;
        transform:translate(316px, 190px);
    }
}

@keyframes changePosition4-5 {
    0% {
        visibility: initial;
        transform:translate(316px, 190px);
    }
    50% {
        visibility: initial;
        transform:translate(580px, 190px);
    }
    83%{
        visibility: initial;
        transform:translate(580px, 254px);
    }
    100% {
        visibility: initial;
        transform:translate(636px, 254px);
    }
}