*{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: NESfont;
    src: url("./fonts/super-mario-bros-nes.otf");
}

.ctr {
    background: linear-gradient(to top, #000000, #000000, #333333, #333333);
    background-size: cover;
    background-size: 100% 4px;

    filter: blur(.5px);
    animation: scanlines infinite 1s linear ;
}
     
@keyframes scanlines {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -10px;
    }
}

.blink {
    animation: blinker infinite 1.5s linear;
}

@keyframes blinker {
   25% {
    opacity: 0.5;
   }
   50% {
    opacity: 0;
   }
   75% {
    opacity: 0.5;
   }
}

#Title_screen {
    height: 100vh;
    width: 100vw;

    font-family: NESfont;
    font-size: 2vh;
    color: white;

    /* flex stuff */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#Title_screen img {
    height: 136px;
    width: 264px;
}

.spritebox {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
}

.sprite {
    height: 136px;
    width: 128px;
    overflow: hidden;
}

.character_spritesheet {
    animation: moveSpritesheet 1s steps(2) infinite;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}


.logo p:nth-child(1)
{
    text-align: center;
    font-size: 6vh;
}

.logo p:nth-child(2)
{
    font-size: 4vh;
}

#Dialogue_box {
    position: absolute;
    top: 20vh;
    max-width: 80vw;

    font-size: 4vh;

    display: flex;
    text-align: center;
}

#Choices {
    position: absolute;
    bottom: 15vh;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

#Choices div {
    text-align: center;
}

#Choices p {
    padding-top: 2vh;
}

.item {
    object-fit: contain;
    image-rendering: pixelated;
    height: 80px !important;
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
}
